# Outras dependencias essenciais
numpy<2.1.0
g4f[all]
yt-dlp
ffmpeg-python
whisperx
mediapipe
google-genai
insightface
gradio
opencv-python
psutil
fastapi
uvicorn
deep-translator
tqdm
requests
python-dotenv
librosa
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
tiktok-uploader
